@keyframes appear {
  from {
    opacity: 0;
    clip-path: inset(100% 100% 0 0);
  }
  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}

.appear {
  opacity: 1;
  animation: appear .3s linear;
}

.not-visible {
  opacity: 0;
}